body {
    overflow: hidden;
}

svg {
    background-color: black;
}

.links line {
    stroke: #999;
    stroke-opacity: 0.6;
    stroke-width: 3;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 0.5px;
    /* 1.5px;*/
    pointer-events: all;
    fill: hsl(150, 100%, 25%);
    /*    r: 18;*/
    transition: r 0.2s, font-size 0.2s;
    -webkit-transition: r 0.2s, font-size 0.2s;
}

.nodes circle:hover {
    cursor: pointer;
}

.nodetext {
    font-family: sans-serif;
    font-size: 20px;
    fill: #bbb;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    pointer-events: none;
    opacity: 0.25;
}

.nodes circle.highlight {
    fill: hsl(48, 100%, 35%);
}

.highlight {
    r: 24px;
    font-size: 24px;
    opacity: 1;
    text-shadow: 0 5px 5px #000, 5px 0 5px #000, 0 -5px 5px #000, -5px 0 5px #000;
}